table {
    background-color: #f2f2f2;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td {
    padding: 10px;
}


th::before {
    content: "\f004"; 
    font-family: FontAwesome;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid #333;
}

th,
td {
    border: 1px solid #ccc;
}
 

